<!DOCTYPE html>
<html>
	{{ partial "header.html" . }}
	<body class="background-logo">
		<div class="content">
			{{ partial "head.html" . }}
			
            <div class="spacer"></div>

			<main class="list">
                <h1 class="title"> CTF Writeups </h1>

                <section>
                    <ul class="terminal-prefix">
                    {{ range .Site.Sections }} 
                        <li class="nowrap">
                            <time>[{{- .Date | dateFormat "02/01/06" -}}]</time>
                            <a href="{{ .Permalink}}">{{ .Name }}</a> 
                            {{- if and (isset .Params "place") (isset .Params "total") -}}
                            <span> - {{.Params.place}}/{{.Params.total}}</span>
                            {{- end }}
                        </li>
                    {{ end }}
                    </ul>
                </section>

                <h1 class="title"> Recent Writeups </h1>

                {{ $pages := where .Site.RegularPages 
                        "Type" "not in" .Site.Params.excludedSections }}
                {{ range (first .Site.Params.HomeWriteupCnt $pages) }}
                {{ $sectionHeading := .Site.GetPage .Section .Section }}
				<div>
					<li class="nowrap">
                        <a href="{{ .RelPermalink }}">{{.Title}}</a>
                        <span>[{{- $sectionHeading.Title -}}]</span>
                    </li>
				</div>
				{{ end }}
			</main>
			{{ partial "footer.html" . }}
		</div>
		
	</body>
</html>
